body {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #000;
}

.background-image {
  width: 600px;
  height: 800px;
  background-image: url('https://i.imgur.com/dovNP.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  font-family: 'NFS Font';
  letter-spacing: 7px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 20px;
}

@font-face {
  font-family: 'NFS Font';
  src: url('NFS_by_JLTV.ttf') format('truetype');
}

.background-image {
  position: relative;
  z-index: -1;
}

h1 {
  position: absolute;
  z-index: 1;
}
